@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;

    /* cursor: url(../images/cursor_pointer.png) , auto; */
}

body {
    font-family: 'NanumSquare', 'NanumMyeongjoExtraBold';
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    min-width: 1320px;

    /* cursor: url(../images/cursor.png) , auto; */
}


/* 헤더 */
.logo {
    width: 110px;
    display: block;
}

.search {
    width: 16px;
    display: block;
}

.head {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    max-width: 1320px;
    width: 95%;
    box-sizing: border-box;
    height: 70px;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    box-shadow: 0 4px 10.6px rgba(51, 51, 51, 0.25);
    z-index: 2;
}

.menu {
    font-size: 18px;
    display: flex;
    /* gap: 25px; */
    font-weight: 800;
}

.menu a {
    padding: 10px 20px;
    color: #444;
}

.menu a:hover {
    color: #6FA89B;
}

.login {
    font-family: 'Pretendard';
    font-size: 15px;
    font-weight: 500;
    display: flex;
    gap: 20px;
    align-items: center;
}

.login a {
    color: #4C7C7D;
}

.login a:hover {
    color: #6EAE9F;
}

/* 헤더 */


/* 메인배너 */
.banner {
    width: 100%;
    height: 800px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(95%);
}

.banner h1 {
    font-size: 47px;
    font-weight: 900;
    color: #FBF9F6;
    position: absolute;
    bottom: 18%;
    left: 17.5%;
    z-index: 2;
}

/* 메인배너 */


/* BI */
.bi {
    width: 1320px;
    height: 759px;
    margin: 200px auto 150px;
}

.bi h1 {
    font-family: 'Pretendard';
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #5f8d8e;
    margin-bottom: 40px;
}

.cover1 {
    display: flex;
    height: 487px;
    overflow: hidden;
}

.bi1 {
    width: 390px;
    height: 380px;
}

.bi2 {
    width: 234px;
    height: 340px;
    margin: 160px 0 0 30px;
}

.text {
    margin: 140px 0 0 140px;
}

.bi h3 {
    font-size: 26px;
    font-weight: 700;
}

.line1 {
    width: 45px;
    height: 45px;
    border-top: 1px solid #8e8e8e;
    margin-top: 20px;
}

.bi p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}

.text a {
    font-size: 18px;
    font-weight: 500;
    color: #666;
}

.text a:hover {
    text-decoration: underline;
}

/* BI */


/* 브랜드가치 */
.brand {
    width: 1320px;
    margin: 0 auto 250px;
    text-align: center;
}

.brand h2 {
    font-family: 'Pretendard';
    font-size: 29px;
    font-weight: 500;
    color: #bcbcbc;
    margin-bottom: 20px;
}

.brand h1 {
    font-family: 'Pretendard';
    font-size: 52px;
    font-weight: 700;
    color: #497D7E;
    margin-bottom: 136px;
}

.cover2 {
    display: flex;
    justify-content: space-between;
}

.one {
    width: 200px;
    height: 200px;
    border: 1px solid #D9D9D9;
    border-radius: 100px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.one img {
    width: 102.75px;
    height: 102.75px;
    padding: 50px;
    filter: invert(45%) sepia(29%) saturate(476%) hue-rotate(126deg) brightness(101%) contrast(87%);
}

.one:hover {
    background-color: #528884;
}

.one:hover img {
    filter: brightness(0) invert(1);
}

.co {
    font-size: 26px;
    font-weight: 700;
    color: #4c7c7d;
}

.p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 13px;
    color: #666;
}
/* 브랜드가치 */


/* 베스트 상품 */
.best {
    width: 1320px;
    margin: 0 auto 200px;
    display: flex;
    justify-content: space-between;
}

.text2 h1 {
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 47px;
    color: #333;
    margin-bottom: 20px;
    padding-left: 10px;
}

.text2 li {
    width: 137px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 50px;
}

.l_tag a:hover{
    text-decoration: underline;
}

.select {
    background-color: #5d9995;
}

.select a {
    color: white;
}

.text2 a {
    font-size: 17px;
    padding: 10px 25px;
}

.product {
    display: flex;
    gap: 20px;
}

/* .in{
    background-color: #f2f7f6;
    border: 2px solid #b7d3d1;
    padding: 15px;
    border-radius: 20px;
} */

.in li {
    font-size: 17px;
    margin-bottom: 10px;
    overflow: hidden;
}

.in a:hover{
    text-decoration: underline;
}

.in img {
    width: 255px;
    height: 290px;
    transition: 0.8s;
    display: block;
}

.in img:hover {
    transform: scale(1.1, 1.1);
    filter: brightness(80%);
}

.in del{
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 500;
}

.in span{
    font-size: 17px;
    font-weight: 900;
    color: #61ac9b;
}

.shop {
    width: 255px;
    border: 1px solid #6AAA9B;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
}

.shop img{
    width: 16px;
    height: 16px;
    transition: 0.5s;
}

.shop a {
    font-size: 14px;
    font-weight: 700;
    color: #6AAA9B;
    padding: 3px 0;

    transition: 0.5s;
}

.shop:hover{
    text-decoration: none;
    background-color: rgba(112, 177, 175);
}

.shop:hover a{
    color: white;
}

.shop:hover img{
    filter: brightness(0) invert(1);
}

.name a{
    font-size: 17px;
    font-weight: 700;
}

.in .price {
    font-size: 16px;
    font-family: 'GmarketSans';
    font-weight: 800;
}

/* 베스트 상품 */


/* 카테고리 */
.category {
    width: 1320px;
    margin: 0 auto 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.category h1{
    font-family: 'NanumMyeongjoExtraBold';
    font-size: 94px;
    color: #222;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.left {
    margin-top: 50px;
}

.left a {
    display: block;
    font-size: 20px;
    font-weight: 700;
    padding: 6px 0;
    /* border-bottom: 1px solid #333; */
}

.left a:hover{
    color: #919191;
}

.line {
    width: 25px;
    height: 5px;
    border-bottom: 1px solid #666;
}

.left .mod {
    color: #57918d;
    font-weight: 900;
}

.left .mod:hover{
    color: #57918d;
}

.modern {
    width: 741px;
    height: 463px;
}

.right {
    width: 313px;
    margin-top: 140px;
}

.right h2 {
    font-size: 23px;
    padding-bottom: 20px;
}

.right p {
    font-size: 18px;
    padding-bottom: 20px;
}

.right a {
    font-size: 15px;
}

.right a:hover {
    text-decoration: underline;
}

/* 카테고리 */


/* 전체 상품 */
.all {
    overflow: hidden;
}

.all h1 {
    width: 1320px;
    margin: auto;
    font-size: 47px;
    font-family: 'Pretendard';
    font-weight: 600;
    padding-left: 10px;
}

.slide {
    display: flex;
    gap: 30px;
    margin: 30px auto 200px;
    width: 1320px;
}

/* .slide a {
    width: 480px;
    height: 600px;
} */

.slide_in img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cov {
    width: 480px;
    height: 428px;
    border-radius: 25px 25px 0 0;
    overflow: hidden;
}

.nm {
    font-size: 25px;
    font-weight: 700;
    padding: 20px 0 10px 30px;
}

.p2 {
    padding-left: 30px;
    padding-bottom: 45px;
    font-size: 17px;
}

.shadow{
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(102, 102, 102, 0.2);
}

/* 전체 상품 */


/* 신제품 */
.new {
    width: 1320px;
    margin: 0 auto 380px;
    display: flex;
    position: relative;
}

.new_t {
    width: 500px;
}

.new_t h1 {
    font-family: 'GmarketSans';
    font-size: 95px;
    font-weight: 800;
    margin-bottom: 110px;
}

.new_t h2 {
    font-size: 37px;
    font-family: 'Pretendard';
    font-weight: 600;
    margin-bottom: 8px;
}

.new_t p {
    font-size: 17px;
    border-top: 6px solid #333;
    padding-top: 20px;
    line-height: 2;
}

.bar {
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.bar a {
    overflow: hidden;
}

.bar img {
    width: 76px;
    display: block;
    transition: 0.7s;
}

.bar img:hover {
    transform: scale(1.2, 1.2);
}

.sofa {
    margin: 0 112px 0 25px;
    font-size: 16px;
}

.sofa a:hover h5{
    text-decoration: underline;
}

.sofa h5{
    font-size: 16.5px;
    font-weight: 500;
}

.sofa h4 {
    font-size: 15px;
    margin-top: 15px;
    font-family: 'GmarketSans';
    font-weight: 800;
}

.sofa del{
    font-size: 13px;
    color: #aaaaaa;
    font-weight: 500;
}

.sofa span{
    font-size: 16px;
    color: #61ac9b;
    font-weight: 800;
}

.bt{
    width: 87px;
    border: 1px solid #6AAA9B;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
}

.bt img{
    width: 16px;
    height: 16px;
    display: block;
    transition: 0.5s;
}

.dam {
    color: #6AAA9B;
    font-size: 14px;
    font-weight: 700;
    height: 22px;
    padding: 4px 0 2px 0;

    transition: 0.5s;
}

.bt:hover{
    background-color: rgba(112, 177, 175);
}

.bt:hover .dam{
    color: white;
}

.bt:hover img{
    filter: brightness(0) invert(1);
}

.btn{
    position: absolute;
    right: 0;
}


/* 버튼 */
.btn .swiper-slide{
    width: 609px;
    height: 780px;
}

.btn .swiper-wrapper{
    width: 609px;
    /* margin-right: 50px; */
}

.btn .swiper-button-next:after,
.btn .swiper-button-prev:after {
    display: none;
}

.btn .swiper-button-next,
.btn .swiper-button-prev {
    width: 73px;
    height: 73px;
}
/* 신제품 */


/* 이벤트 */
.event {
    width: 1320px;
    margin: 0 auto 150px;
}

.event h1 {
    font-size: 45px;
    color: #5f8d8e;
    text-align: center;
    font-family: 'Pretendard';
    font-weight: 700;
    margin-bottom: 70px;
}

.ev {
    display: flex;
    justify-content: space-between;
}

/* .ev li:hover h2, .ev li:hover p{
    background-color: rgb(210, 231, 223);
    box-shadow: 0 0 30px rgb(179, 219, 205);
} */

.ev_in {
    width: 420px;
    text-align: center;
}

.ev_img {
    width: 420px;
    height: 530px;
    margin-bottom: 30px;
    border-radius: 26px;
    overflow: hidden;
}

.ev_img img:hover {
    transform: scale(1.1, 1.1);
    filter: brightness(60%);
}

.ev_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.ev_in h2 {
    font-size: 29px;
    font-weight: 900;
    margin-bottom: 12px;
    border-radius: 20px;
    /* transition: 0.5s; */
}

.ev_in h2 a{
    transition: 0.5s;
}

.ev_in h2 a:hover{
    color: #4b7e7a;
}

.ev_in p {
    font-size: 17px;
    color: #555;
    border-radius: 20px;
    /* transition: 0.5s; */
}

/* 이벤트 */

@keyframes ani {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% + 1920px));
    }
}

/* 리뷰 */
.review {
    text-align: center;
    width: 100%;
    margin: 0 auto 200px;
}

.ins_re {
    width: 48px;
}

.review h1 {
    font-size: 45px;
    font-family: 'Pretendard';
    font-weight: 700;
    color: #5F8D8E;
    margin-bottom: 70px;
}

/* .review ul {
    width: 2750px;
    display: flex;
    gap: 10px;
}

.review ul li {
    width: 450px;
    height: 450px;
}

.review ul img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */



.instagram {
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
}

.instagram img{
    display: block;
    width: 100%;
}

/* .instagram .swiper-slide img:hover{
    filter: brightness(70%);
} */

.instagram .swiper-wrapper{
    margin-bottom: 40px;
}

.instagram .swiper-pagination-bullet-active{
    background-color: #3f3f3f;
}

.instagram .swiper-pagination-bullet{
    width: 20px;
    border-radius: 20px;
}

.span h2 {
    font-size: 64px;
    font-family: 'Pretendard';
    font-weight: 600;
    color: rgba(106, 154, 152, 0.6);
    margin-top: 40px;
    width: 2900px;

    animation: ani 7s linear infinite;
}

.span h2 span {
    flex-shrink: 0;
}

.span {
    overflow-x: hidden;
}


.instagram .swiper-slide{
    position: relative;
    overflow: hidden;
}

.instagram .swiper-slide a:hover .h_text{
    /* 선명하게 만들기 */
    opacity: 1;
    /* 100% */

    transform: scale(1.2, 1.2);
}

.h_text img{
    width: 40px;
    margin: 0 auto;
    filter: invert(1);
}

.h_text p{
    color: white;
    font-size: 15px;
}

.instagram .swiper-slide .h_text{
    background-color: rgba(39, 39, 39, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* flex 사용해서 글자 세로 가운데 위치 */
    display: flex;
    flex-direction: column;
    /* 세로 방향으로 바꾸기 */
    justify-content: center;
    /* 주축여백 가운데 */

    /* 투명하게 만들기 */
    opacity: 0;


    /* 서서히 변하게 만들기 */
    transition: 1s;
}

/* 리뷰 */


/* 공지사항 */
.notice {
    width: 100%;
    margin: auto;
    text-align: center;
}

.notice h1 {
    font-size: 45px;
    font-family: 'Pretendard';
    font-weight: 700;
    color: #5F8D8E;
    margin-bottom: 59px;
}

.notice_box {
    width: 100%;
    height: 778px;
    background: url(../images/notice_.jpg) no-repeat center / cover;
    filter: brightness(95%);
    /* position: relative; */
}

/* .notice_box img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(80%);
} */

.black{
    width: 100%;
    height: 778px;
    background-color: rgba(83, 83, 83, 0.2);
}

.bigger {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.contact {
    width: 433px;
    height: 455px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-top: 150px;
}

.contact a {
    transition: 0.5s;
}

.bold {
    font-size: 38px;
    font-family: 'Pretendard';
    font-weight: 600;
    padding: 115px 0 0 0;
}

.bolder {
    font-size: 37px;
    font-family: 'Pretendard';
    font-weight: 600;
}

.ppp {
    padding: 15px 0 30px 0;
    font-size: 17px;
}

.pp {
    padding: 20px 0 45px 0;
    line-height: 2;
    font-size: 17px;
}

.more {
    font-family: 'Pretendard';
    width: 180px;
    height: 32px;
    font-weight: 200;
    background-color: #333;
    color: #ffffff;
    padding: 7px 47px;
    border-radius: 20px;
}

.contact a:hover {
    background-color: #e9e9e9;
    color: black;
}

/* 공지사항 */


/* 푸터 */
footer {
    background-color: #333;
    color: white;
}

footer a {
    color: white;
}

.foot {
    width: 1320px;
    margin: auto;
    padding: 100px 0;
}

.line_1 {
    display: flex;
    justify-content: space-between;
}

.line_1 ul {
    display: flex;
    gap: 10px;
}

.line_1 ul a:hover {
    text-decoration: underline;
}

.line_1 a{
    font-family: 'Pretendard';
    font-weight: 300;
}

.line_1 img {
    width: 123px;
    display: block;
}

.line_1 span {
    font-weight: 600;
}

.line2 {
    display: flex;
    justify-content: space-between;
}

.left_ {
    padding: 30px 0;
    font-family: 'Pretendard';
    font-weight: 300;
}

.left_ ul {
    display: flex;
    gap: 10px;
}

.sns ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sns img:hover {
    filter: brightness(140%);
}

.sns img {
    width: 25px;
}

.sns ul .you {
    width: 31px;
}

.copy{
    font-family: 'Pretendard';
    font-weight: 300;
}
/* 푸터 */


/* 탑 버튼 */
.top_btn{
    align-items: center;
    text-align: center;
    border: 2px solid #2CA18D;
    border-radius: 100%;
    font-size: 18px;
    padding: 13px 8px 9px;
    color: #2CA18D;
    font-weight: 700;
    position: fixed;
    right: 4%;
    bottom: 5%;
    z-index: 3;
}
/* 탑 버튼 */



html{
    scroll-behavior: smooth;
}